//
// Block styles.
//
// @package    Extend Search Block
// @copyright  WebMan Design, Oliver Juhas
//
// @since  1.0.0
//

.wp-block-search {

	&__inside-wrapper.has-dropdown {
		flex-wrap: wrap;

		.wp-block-search__select {
			margin: 0;
			margin-inline-end: .5em;
		}

		.wp-block-search__input {
			width: auto;
		}
	}
}
